<!DOCTYPE html>
<html>

<head>
  <title>Filters in Vue</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
</head>

<body>
  <h1>Filters in Vue</h1>
  
  <div id="root">
    <input v-model="newUser" @keyup.enter="addUser">
    <button v-on:click="addUser">
      + Add
    </button>
    <p>
    <h1>Users :- </h1>
    <p>This users' name is coming from users array of objects.</p>
    </p>
    <ol>
      <li v-for="user of users">{{user.name | capitalize | addify}}</li>
    </ol>

  </div>

  <script type="text/javascript">
    var vue_app = new Vue({
      el: "#root",
      data: {
        users: [
          { name: 'jitu bhai' },
          { name: 'vidit' },
          { name: 'rohit' },
          { name: 'lokesh' }
        ],
        newUser: ''
      },
      methods:{
        addUser: function(){
          //push user object in users array of object.
          this.users.push({name:this.newUser});
          //clear input field after adding user in users list.
          this.newUser = '';
        }
      },
      filters:{
        capitalize: function(value){
          return value.toUpperCase()
        },
        addify: function(value){
          return value + 'y'
        }
      }
    });
  </script>
</body>

</html>